<!doctype html>
<html>
    <head>
        <title>MarranoBOT {{ .Version }} stats</title>
        <link rel="stylesheet" href="https://unpkg.com/charts.css/dist/charts.min.css">
        <style type="text/css" media="screen"></style>
    </head>
    <body>
        <table class="">
            <tr>
                <td></td>
            </tr>
        </table>
    </body>
</html>
