{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        metosin/reitit {:mvn/version "0.5.5"}
        metosin/reitit-middleware {:mvn/version "0.5.2"}
        metosin/muuntaja {:mvn/version "0.6.7"}
        ring-logger/ring-logger {:mvn/version "1.0.1"}
        clj-fuzzy/clj-fuzzy {:mvn/version "0.4.1"}
        yogthos/config {:mvn/version "1.1.1"}
        http-kit/http-kit {:mvn/version "2.3.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        com.rpl/specter {:mvn/version "1.1.3"}
        morse/morse {:mvn/version "0.4.0"}
        com.layerware/hugsql {:mvn/version "0.5.1"}
        org.xerial/sqlite-jdbc {:mvn/version "3.36.0"}}
 :aliases
 ;https://github.com/seancorfield/build-clj
 {:build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.5"
                  :git/sha "972031a"
                  :deps/root "slim"}}
          :ns-default build}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "48c3c67"}}
   :exec-fn cognitect.test-runner.api/test}}}
